<div id="map">
</div>

<div id="container" class="container">
    <div id="map" class="map">
    </div>
  </div>


  <div id="slider-container">
  <div class="era list-inline">
  <% @events.each do |event| %>
    <i class="arrow fa fa-caret-down" style="left:<%= event.inrange %>%"><%= event.start_year %></i>
    <% end %>

    <li id="an" class="period" data-period='3976' style="width: <%= Event.get_period_percent(3976) %>%">Antiquité</li>
    <li id="ma" class="period" data-period='1016' style="width: <%= Event.get_period_percent(1016) %>%">Moyen Âge</li>
    <li id="tm" class="period" data-period='297' style="width: <%= Event.get_period_percent(297) %>%">T.Modernes</li>
    <li id="ec" class="period" data-period='226' style="width: <%= Event.get_period_percent(226) %>%">Contemporaine</li>
  </div>
    <input id="slider" type="range" min=<%= Event::FIRST_YEAR %> max=<%= Event::LAST_YEAR %> step="10" />
  </div>


</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>




  var tileServer = 'http://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png'

  var tileAttribution = 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>';

  var map = L.map("map",{bounceAtZoomLimits:false, worldCopyJump:true, zoomAnimationThreshold:7}).setView([49.8407, 5.2515], 12);

        L.tileLayer(tileServer, {attribution: tileAttribution,   noWrap:true}).addTo(map);

        var markers = {};

  var markerMap = {};
  var popUpMap = {};

  <% @events.each do |event| %>

    var marker = L.marker([<%= event.latitude %>, <%= event.longitude %>]);

      marker.id = <%= event.id %>;
      marker.start_year = <%= event.start_year %>;
      marker.period = getperiod(marker.start_year);
      markerMap[<%= event.id %>] = marker;
      popUpMap[<%= event.id %>] = markerMap[<%= event.id %>].bindPopup('<%= event.title %> <p><%= link_to("See more", event_path(event.id))  %></p>');
      // markers[<%= event.id %>] = marker ;

      marker.addTo(map);

    <% end %>


   document.getElementById('slider').addEventListener('change', function() {
        var selected = this.value;
        console.log("selected ", selected);
      _.each(markerMap, function(marker){

      var range = 300;
      if (selected - range < marker.start_year && parseInt(selected) + range > marker.start_year){
        // marker.setOpacity(1)
        marker.openPopup();
      }else{
        // marker.setOpacity(0)
        marker.closePopup();
      }

      if (getperiod(selected) == marker.period){
        marker.setOpacity(1)

      }else{
        marker.setOpacity(0)

      }

      });

});

function getperiod(start_year){
  switch (true) {
    case start_year < <%=  Event::PERIODS[0][2]%>:
        return "<%= Event::PERIODS[0][0]%>";
        break;
    case start_year > <%= Event::PERIODS[1][1]%> && start_year < <%= Event::PERIODS[1][2]%>:
        return "<%= Event::PERIODS[1][0]%>";
        break;
    case start_year > <%= Event::PERIODS[2][1]%> && start_year < <%= Event::PERIODS[2][2]%>:
        return "<%= Event::PERIODS[2][0]%>";
        break;
    case start_year > <%= Event::PERIODS[3][1]%> && start_year < <%= Event::PERIODS[3][2]%>:
        return "<%= Event::PERIODS[3][0]%>";
        break;
   default:
        return "none";
  }

};


  <% end %>
<% end %>







