<h1><%= @event.title %></h1>
<% @event.media.each do |m| %>
  <p><%= image_tag m.url, size: "200x200"%></p>
  <p> <%= m.description %></p>
<% end %>


<h2><%= @event.description %></h2>
<p><%= @event.url %></p>
<p><%= @event.start_year %> - <%= @event.end_year %></p>






